h1 {
    color: #ff6600;
}

h2 {
    color: rgb(51, 204, 51);
}

h3 {
    color: hsl(225, 100%, 60%);
}

/*h4 {
    background: #f234;
}*/

div {
    background: #cc0378c9;
}

body {
    background: url(https://thumbs.dreamstime.com/z/%D1%80%D0%B0%D0%B7%D0%B2%D0%B8%D1%82%D0%B8%D0%B5-%D1%87%D0%B5%D0%BB%D0%BE%D0%B2%D0%B5%D0%BA%D0%B0-101420201.jpg);
}
